.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1120px;
  margin: 5rem auto;
}

.container img {
  display: none;
}

.container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
}

.profile-hidden {
  display: none;
}

.profile-visible {
  display: flex;
}

.container > div button {
  padding: 1rem 4rem;
  margin-top: 2rem;
  background-color: #d53f8c;
  border: none;
  border-radius: 40px;
  color: #FFF;
  font-weight: 600;
  font-size: 2rem;
  
  transition: filter 0.2s ease-in-out;
}

.container > div button:hover {
  filter: brightness(0.97);
}

.text {
  text-align: center;
  line-height: 3.3rem;
}

.text p {
  font-size: 3rem;
  font-weight: 600;
}

.text p strong {
  color: #d53f8c;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 1rem 1rem;
  margin: 0 auto;
  
  font-weight: 600;
  font-size: 0.8rem;
}

@media screen and (min-width: 400px) {
  .container {
    margin: 0 auto;
    margin-top: 10rem;
  }
}

@media screen and (min-width: 720px) {
  .text {
    max-width: 500px;
    line-height: 3rem;
  }

  .text p {
    font-size: 3rem;
    font-weight: 600;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 1rem 1rem;
    margin: 0 auto;
    
    font-weight: 600;
    font-size: 1.2rem;
  }

  .container {
    flex-direction: column;
  }

  .container > div button {
    margin-top: 4rem;
  }

  .container img {
    display: block;
    margin-top: 6rem;
    width: 400px;
  }
}

@media screen and (min-width: 1220px) {

  .container {
    flex-direction: row;
  }

  .container > div button {
    margin-top: 4rem;
  }

  .container > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 100%;
    margin: 0;
  }

  .text p {
    text-align: justify;
    line-height: 3.5rem;
  }

  .container img {
    display: block;
    margin-top: 0;
    width: 550px;
  }
}

