.form-id {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
  margin-top: 1rem;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  color: #fff;
  
  transition: all 0.2s ease-in-out;
}

.logout:hover {
  filter: brightness(0.9);
}

.logout img{
  width: 50px;
}

.logout p{
  margin-left: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.deleteButton {
  border: none;
  margin-top: 2rem;
  padding: 0.675rem 1rem;
  width: 100%;
  border-radius: 5px;
  background-color: #c53030;

  font-size: 1.1rem;
  color: #FFF;
  font-weight: bold;
}

a {
  text-align: center;
  color: #d53f8c;
  font-size: 1.25rem;

  margin-top: 20px;
  font-weight: 600;

  cursor: pointer;

  transition: color 0.2s;
}

a:hover {
  color: #d53f8cb0;
}