.Container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1120px;
  margin: 0 auto;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;

  height: 80px;
  background: #d53f8c;
  width: 730px;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 85%;
}

.QuestionNumber {
  margin-right: 15px;
}

.QuestionContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #ffffff;
  font-size: 16px;
  margin: 20px 0;
  width: 730px;
}

.AnswersContainer {
  display: flex;
  flex-direction: column;
}

.Answer {
  color: #000;
}

.AnswerButton {
  background: #ffffff;
  padding: 15px;
  margin: 8px 0;
  border-radius: 10px;
  width: 720px;
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  cursor: pointer;
}

.AnswerButton:disabled {
  color: rgba(0, 0, 0, 0.63);
}

.Question {
  color: #ffffff;
  font-weight: 700;
  margin: 10px 20px;
  width: 730px;
}

.Logo {
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
}

.swal2-title {
  color: #fff;
}

@media (max-width: 1024px) {
  .Logo {
    font-size: 1.5rem;
  }

  .Question {
    font-size: 1.5rem;
  }
}

@media (max-width: 820px) {
  .Header {
    width: 530px;
  }

  .Logo {
    font-size: 1.25rem;
  }

  .QuestionContainer {
    width: 530px;
  }

  .Question {
    width: 530px;
    font-size: 1.25rem;
  }

  .AnswerButton {
    width: 530px;
  }
}

@media (max-width: 768px) {
  .Header {
    width: 550px;
  }

  .Logo {
    font-size: 1.25rem;
  }

  .QuestionContainer {
    width: 550px;
  }

  .Question {
    width: 550px;
    font-size: 1.25rem;
  }

  .AnswerButton {
    width: 550px;
  }
}

@media (max-width: 540px) {
  .Header {
    width: 350px;
  }

  .Logo {
    font-size: 1.25rem;
  }

  .QuestionContainer {
    width: 350px;
  }

  .Question {
    width: 350px;
    font-size: 1.25rem;
  }

  .AnswerButton {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .Header {
    width: 240px;
    height: 60px;
  }

  .Logo {
    font-size: 1rem;
  }

  .QuestionContainer {
    width: 240px;
  }

  .Question {
    width: 240px;
    font-size: 1rem;
  }

  .QuestionNumber {
    margin-right: 0px;
    font-size: 2rem;
  }

  .AnswerButton {
    width: 240px;
  }

  .AnswerButton {
    padding: 10px;
    margin: 6px 0;
    font-size: 0.875rem;
  }
}

@media (max-width: 300px) {
  .Header {
    width: 220px;
  }

  .Logo {
    font-size: 0.875rem;
  }

  .QuestionContainer {
    width: 220px;
  }

  .Question {
    width: 220px;
    font-size: 1rem;
  }

  .AnswerButton {
    width: 220px;
  }
}
