.Container {
  height: 80vh;
  max-width: 1120px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Title {
  margin-top: 20px;
  margin-bottom: 40px;
}

.Content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Box {
  background-color: rgb(213, 63, 140);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  font-size: 2rem;
  border-radius: 5px;
  width: 300px;
  height: 166px;
  cursor: pointer;
  position: relative;

  transition: background-color 0.2s;
}

.BoxQuiz {
  width: 400px;
}

.box1,
.box2 {
  margin-right: 4rem;
}

.Box:hover {
  background-color: rgba(213, 63, 140, 0.8);
}

.Section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.QuizzesSection {
  display: flex;
  gap: 4rem;
}

.Level {
  position: absolute;

  right: 15px;
  bottom: 10px;
  font-weight: 500;

  font-size: 1rem;
  color: #121214;
}

.Image {
  width: 20px;
  height: 20px;

  margin-left: 8px;
  opacity: 0.8;
}

.newTopics {
  font-size: 1.4rem;
}

.BackButton {
  border: 0;
  background: #d53f8c;
  padding: 15px;
  border-radius: 5px;
  width: 400px;
  height: 75px;
  font-size: 1.25rem;
  color: #fff;

  cursor: pointer;

  transition: background-color 0.2s;
}

.BackButton:hover {
  background: #d53f8cb0;
}

.hidden {
  display: none;
}

@media (max-width: 1600px) {
  .QuizzesSection {
    display: flex;
    gap: 2rem;
  }
}

@media (max-width: 1280px) {
  .BoxQuiz {
    width: 400px;
  }

  .Box {
    height: 130px;
  }
}

@media (max-width: 1024px) {
  .Title {
    margin-top: 0px;
    font-size: 2rem;
  }

  .Box {
    padding: 2.5rem;
    font-size: 1.5rem;
    width: 250px;
  }
}

@media (max-width: 912px) {
  .Content {
    flex-direction: column;
  }

  .box1,
  .box2 {
    margin-right: 0rem;
  }

  .box2 {
    margin-bottom: 4rem;
  }

  .Title {
    margin-top: 30px;
    font-size: 2.75rem;
  }

  .Box {
    padding: 3rem;
    font-size: 2rem;
    width: 450px;
  }

  .BoxQuiz {
    height: 150px;
    width: 400px;
  }

  .Level {
    font-size: 1.5rem;
  }

  .Image {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 820px) {
  .Title {
    font-size: 2rem;
    margin-top: 20px;
  }

  .Box {
    padding: 2.5rem;
    font-size: 1.5rem;
    width: 350px;
    height: 110px;
  }
}

@media (max-width: 540px) {
  .Title {
    margin-top: 20px;
    font-size: 1.5rem;
  }

  .box2 {
    margin-bottom: 2rem;
  }

  .Section {
    gap: 2rem;
  }

  .Box {
    padding: 1.5rem;
    font-size: 1rem;
    width: 250px;
    height: 80px;
  }

  .BoxQuiz {
    height: 100px;
  }

  .Level {
    font-size: 0.875rem;
  }

  .Image {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 500px) {
  .Title {
    font-size: 1.75rem;
  }

  .Box {
    padding: 2rem;
    font-size: 1rem;
    width: 250px;
  }

  .BoxQuiz {
    height: 100px;
    width: 200px;
  }
}

@media (max-width: 300px) {
  .Title {
    font-size: 1.5rem;
  }

  .Box {
    padding: 1.5rem;
    font-size: 1rem;
    width: 200px;
    height: 60px;
  }
}
